<!-- 登陆且与评论者为同一人 -->
<% if(session && session.name == res['name']){ %>
  <div class="float-right">
    <%if(res['likes']===0){%>
      <button id='slike-0' type="button" value="<%=res['id']%>" class="btn btn-link  btn-sm">
        <%-octicons.thumbsup.toSVG()%>
      </button>
      <%}%>
        <%if(res['likes']!=0){%>
          <button id='slike-1' type="button" value="<%=res['id']%>" class="btn btn-link  btn-sm">
            <%-octicons.thumbsup.toSVG()%>
          </button>
          <span>
            <%=res['likes']%>
          </span>
          <%}%>
            <button id='sedit' type="button" value="<%=res['id']%>" class="btn btn-link  btn-sm">
              <a href="/reply/<%=res['id']%>/edit">
                <%-octicons.pencil.toSVG()%>
              </a>
            </button>
            <button id='sdelete' type="button" value="<%=res['id']%>" class="btn btn-link  btn-sm">
              <%-octicons.trashcan.toSVG()%>
            </button>
            <button id='sreply' type="button" value="<%=res['id']%>" class="btn btn-link  btn-sm" data-toggle="collapse" data-target="#srep<%=res['id']%>"
              aria-expanded="false" aria-controls="srep<%=res['id']%>">
              <%-octicons.reply.toSVG()%>
            </button>
  </div>
  <%}%>
    <!-- 如果没登陆 -->
    <%if(!session.id){%>
      <div class="float-right">
        <%if(res['likes']!=0){%>
          <button id='nlike' type="button" value="<%=res['id']%>" class="btn btn-link  btn-sm">
            <%-octicons.thumbsup.toSVG()%>
          </button>
          <span>
            <%=res['likes']%>
          </span>
          <%}%>
      </div>
      <%}%>
        <!-- 登陆但与作者不是同一个人 -->
        <% if(session.id&&session.name != res['name']){ %>

          <!--如果登陆者对此评论点赞了  -->
          <%if(likes[index]!=0){%>
            <div class="float-right">
              <button id='like' type="button" value="<%=res['id']%>" class="btn btn-link btn-sm like-1">
                <%-octicons.thumbsup.toSVG()%>
              </button>
              <span>
                <%=res['likes']%>
              </span>
              <button id='sreply' type="button" value="<%=res['id']%>" class="btn btn-link  btn-sm" data-toggle="collapse" data-target="#srep<%=res['id']%>"
                aria-expanded="false" aria-controls="srep<%=res['id']%>">
                <%-octicons.reply.toSVG()%>
              </button>
            </div>
            <%}%>
              <!-- 如果登陆者没有对此评论点赞 -->
              <%if(likes[index]===0){%>
                <div class="float-right">
                  <button id='like' type="button" value="<%=res['id']%>" class="btn btn-link  btn-sm like-0">
                    <%-octicons.thumbsup.toSVG()%>
                  </button>

                  <span>
                    <%=res['likes']%>
                  </span>

                  <button id='sreply' type="button" value="<%=res['id']%>" class="btn btn-link  btn-sm" data-toggle="collapse" data-target="#srep<%=res['id']%>"
                    aria-expanded="false" aria-controls="srep<%=res['id']%>">
                    <%-octicons.reply.toSVG()%>
                  </button>
                </div>
                <%}%>

                  <%}%>
                    <br/>