<!-- 首页 -->
<%- include header%>
  <div class="container d-flex justify-content-center my-3">
    <div class="col-8 card p-0 mr-3  border-0 d-flex flex-column">
      <div class="card-header border-0 py-2">
        <button type="button" class="btn btn-success tab" value="all">全部</button>
        <button type="button" class="btn btn-light tab" value="essence">精华</button>
        <button type="button" class="btn btn-light tab" value="share">分享</button>
        <button type="button" class="btn btn-light tab" value="ask">问答</button>
        <button type="button" class="btn btn-light tab" value="job">招聘</button>
        <button type="button" class="btn btn-light tab" value="dev">客户端测试</button>
      </div>
      <div id="text">
        <%topics.forEach(function(res,index){%>
          <div class="list-group-item list-group-item-action" id="<%=res['id']%>">
            <div class="media">
              <img class="mr-3 " src="/images/2081487.jpg" width="40" height="40" alt="Generic placeholder image">
              <div class="media-body align-self-center d-flex  justify-content-between">
                <div>
                  <span data-toggle="tooltip" data-placement="top" title="回复数">
                    <%=res['replies']%>
                  </span>/
                  <small data-toggle="tooltip" data-placement="top" title="点击数">
                    <%=res['clicks']%>
                  </small>
                  <span class="badge badge-secondary">
                    <%=res['tabValue']%>
                  </span>
                  <a href="/topic/<%=res['id']%>">
                    <%=res['title']%>
                  </a>
                </div>
                <div class="col-2 d-flex  justify-content-between">
                  <img src="/images/7081645.png" width="30" height="30" alt="Generic placeholder image">
                  <small class="align-self-center">
                    <%=res['lastreplyfromnow']%>
                  </small>
                </div>
              </div>
            </div>
          </div>
          <%})%>
      </div>
      <div class="mt-auto">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
          </ul>
          <span class="tabname" style="display:none"></span>
          <span class="totalpage" style="display:none"></span>
          <span class="hint"></span>
        </nav>

      </div>
    </div>

    <div class="col-2.5">
      <% if(!session||!session.id){ %>
        <div class="bg-white pt-3 pl-3 pb-1">
          <p>CNode：Node.js专业中文社区 </p>
          <p>
            <small>您可以
              <a href="/onload" class="text-muted">登录</a>或
              <a href="/signin" class="text-muted">注册</a> , 也可以</small>
            </br>
            <a class="btn btn-primary" href="#" role="button">通过GitHub登陆</a>
          </p>
        </div>
        <% } %>
          <% if(session&&session.id){ %>
            <div class='card bg-white '>
              <div class='card-header  '>
                个人信息
              </div>
              <div class='card-body'>
                <div class='user_card'>
                  <div>
                    <a class='user_avatar' href="/user/<%=session.name%>">
                      <img src="/images/7081645.png" width="40" height="40" alt="Generic placeholder image" />
                    </a>
                    <span class='user_name'>
                      <a class='dark' href="/user/<%=session.name%>">
                        <%=session.name%>
                      </a>
                    </span>

                    <div class='board clearfix'>
                      <div class='floor'>
                        <span class='big'>积分:
                          <%=session.integral%>
                        </span>
                      </div>
                    </div>
                    <div class="space clearfix"></div>
                    <%if(session.sign===null){%>
                      <span class="signature font-italic">
                        “这家伙很懒，什么个性签名都没有留下。”
                      </span>
                      <%}%>
                        <%if(session.sign!=null){%>
                          <span class="signature font-italic">
                            <%=session.sign%>
                          </span>
                          <%}%>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class='inner bg-white p-3 mt-3'>
                <a href='/topic/create' id='create_topic_btn'>
                  <button type="button" class="btn btn-success">
                    发布话题
                  </button>
                </a>
              </div>
            </div>
            <% } %>
              <div class="mt-3">
                <a href="#">
                  <img src="/images/FgQS-GQD" width="350" height="120">
                </a>
              </div>
              <%if(noreplycount!=0){%>
                <div class="mt-3">
                  <ul class="list-group">
                    <li class="list-group-item">无人回复的话题</li>
                    <%noreplytopics.forEach(function(res){%>
                      <li class="list-group-item">
                        <a href="/topic/<%=res.id%>" class="text-muted">
                          <%=res.title%>
                        </a>
                      </li>
                      <%})%>
                  </ul>
                </div>
                <%}%>
                  <%if(usercount>0){%>
                    <div class="mt-3">
                      <ul class="list-group">
                        <li class="list-group-item">积分榜&nbsp&nbsp
                          <%if(usercount>=100){%>
                            <a href="/user/top/top100">TOP 100 >></a>
                            <%}else if(usercount>10){%>
                              <a href="/user/top/top<%=usercount%>">TOP
                                <%=usercount%> >></a>
                              <%}%>
                        </li>
                        <%tops.forEach(function(res){%>
                          <li class="list-group-item py-2">
                            <%=res.integral%>&nbsp&nbsp
                              <a href="/user/<%=res.name%>" class="text-muted">
                                <%=res.name%>
                              </a>
                          </li>
                          <%})%>
                      </ul>
                    </div>
                    <%}%>
    </div>

  </div>
  <script>
    $(document).ready(function () {

      // 设置首页分页按钮

      $.ajax({
        url: '/all',
        type: "GET",
        cache: false,
        dataType: 'json',
        success: function (msg) {
          var totalpage = msg.total;
          $('.pagination').empty();
          paging(totalpage);
          $('.tabname').text('all');
          $('.totalpage').text(totalpage);
          var currentpage = 1;
          pageswitch(currentpage);
        },
        error: function () {
          alert('异常');
        }
      });

      // 导航栏的切换

      $(".tab").each(function () {
        $(this).on('click', function () {
          var value = $(this).attr('value');
          $(this).siblings().attr('class', 'btn btn-light tab')
          $(this).attr('class', 'btn btn-success tab');
          var page = 1;
          $.ajax({
            url: '/tab/' + value + '/page/' + page,
            type: "GET",
            cache: false,
            dataType: 'json',
            success: function (msg) {
              var totalpage = msg.total;
              var tabname = $('.tabname').text(value);
              $('.totalpage').text(totalpage);
              $('#text').empty();
              $('.hint').empty();
              $.each(msg.topics, function (index, item) {
                $('#text').append(
                  '<div class="list-group-item list-group-item-action" id=' + item.id + '>' +
                  '<div class="media"><img class="mr-3" src="/images/2081487.jpg" width="40" height="40" alt="Generic placeholder image"><div class="media-body align-self-center d-flex  justify-content-between"><div>' +
                  item.replies + '/<small>' + item.clicks +
                  '</small><span class="badge badge-secondary">' + item.tabValue +
                  '</span><a href="/topic/' + item.id + '">' + item.title +
                  '</a>' +
                  '</div><div class="col-2 d-flex  justify-content-between"><img src="/images/7081645.png" width="30" height="30" alt="Generic placeholder image"><small class="align-self-center">' +
                  item.lastreplyfromnow + '</small></div></div></div></div>'
                );
              });

              // 设置页码栏
              $('.pagination').empty();
              paging(totalpage);

              // 页码切换
              var currentpage = 1;
              pageswitch(currentpage);
            },
            error: function () {
              alert('异常');
            }
          })
        })
      });

      // 页码切换函数
      function pageswitch(currentpage) {
        var value = $('.tabname').text();
        var totalpage = $('.totalpage').text();
        $('.page-link').each(function () {
          $(this).on('click', function () {
            console.log($(this));
            $(this).css('color', 'green');
            $(this).parent().siblings().find('a').css('color', 'blue');
            if ($(this).attr('aria-label') == 'Previous') {
              if (currentpage == 1) {
                $('.hint').text('已经是第一页了');
              } else {
                $('.hint').empty();
                currentpage -= 1;
                styleswitch(totalpage, currentpage);
                getpagetext(value, currentpage);
              }
            } else if ($(this).attr('aria-label') == 'Next') {
              if (currentpage == totalpage) {
                $('.hint').text('已经是最后一页了');
              } else {
                $('.hint').empty();
                currentpage += 1;
                styleswitch(totalpage, currentpage);
                getpagetext(value, currentpage);
              }
            } else if ($(this).text() === '...') {
              $('.hint').empty();
            } else {
              $('.hint').empty();
              var page = $(this).text();
              console.log(page);
              currentpage = parseInt(page);
              styleswitch(totalpage, currentpage);
              getpagetext(value, page);
            }
          })
        })
      };

      // 多页码时点击时样式的切换

      function styleswitch(totalpage, page) {
        if (totalpage >= 6) {

          if (totalpage - page == 0 && page > 5) {
            $('.page-link').eq(1).text('...');
            $('.page-link').eq(2).text(page - 4);
            $('.page-link').eq(3).text(page - 3);
            $('.page-link').eq(4).text(page - 2);
            $('.page-link').eq(5).text(page - 1);
            $('.page-link').eq(6).text(page);
            $('.page-link').eq(6).css('color', 'green');
            $('.page-link').eq(6).parent().siblings().find('a').css('color', 'blue');
            $('.page-link').eq(7).hide();
          } else if (totalpage - page == 1 && page > 4) {
            $('.page-link').eq(1).text('...');
            $('.page-link').eq(2).text(page - 3);
            $('.page-link').eq(3).text(page - 2);
            $('.page-link').eq(4).text(page - 1);
            $('.page-link').eq(5).text(page);
            $('.page-link').eq(5).css('color', 'green');
            $('.page-link').eq(5).parent().siblings().find('a').css('color', 'blue');
            $('.page-link').eq(6).text(page + 1);
            $('.page-link').eq(7).hide();
          } else if (totalpage - page == 2 && page > 3) {
            $('.page-link').eq(1).text('...');
            $('.page-link').eq(2).text(page - 2);
            $('.page-link').eq(3).text(page - 1);
            $('.page-link').eq(4).text(page);
            $('.page-link').eq(4).css('color', 'green');
            $('.page-link').eq(4).parent().siblings().find('a').css('color', 'blue');
            $('.page-link').eq(5).text(page + 1);
            $('.page-link').eq(6).text(page + 2);
            $('.page-link').eq(7).hide();
          } else if (totalpage - page > 2 && page > 3) {
            $('.page-link').eq(1).text('...');
            $('.page-link').eq(2).text(page - 2);
            $('.page-link').eq(3).text(page - 1);
            $('.page-link').eq(4).text(page);
            $('.page-link').eq(4).css('color', 'green');
            $('.page-link').eq(4).parent().siblings().find('a').css('color', 'blue');
            $('.page-link').eq(5).text(page + 1);
            $('.page-link').eq(6).text(page + 2);
            $('.page-link').eq(7).text('...');
            $('.page-link').eq(7).show();
          } else if (page < 4) {
            $('.page-link').eq(1).text(1);
            $('.page-link').eq(2).text(2);
            $('.page-link').eq(3).text(3);
            $('.page-link').eq(4).text(4);
            $('.page-link').eq(5).text(5);
            $('.page-link').eq(page).css('color', 'green');
            $('.page-link').eq(page).parent().siblings().find('a').css('color', 'blue');
            $('.page-link').eq(7).show();
          }
        }
      }
      // 设置各导航按钮首页页码栏函数

      function paging(totalpage) {
        var html =
          '<li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>';
        if (totalpage <= 6 && totalpage >= 1) {
          for (var i = 1; i <= totalpage; i++) {
            html += '<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>';
          };
          html +=
            '<li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>';
          $('.pagination').html(html);
        } else if (totalpage >= 7) {
          for (var i = 1; i <= 6; i++) {
            html += '<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>';
          };
          html += '<li class="page-item"><a class="page-link" href="#">' + '...' + '</a></li>';
          html +=
            '<li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>';
          $('.pagination').html(html);
        }
      }

      // 获取某导航下某页码的内容函数

      function getpagetext(value, page) {
        $.ajax({
          url: '/tab/' + value + '/page/' + page,
          type: "GET",
          cache: false,
          dataType: 'json',
          success: function (msg) {
            $('#text').empty();
            $.each(msg.topics, function (index, item) {
              $('#text').append(
                '<div class="list-group-item list-group-item-action" id=' + item.id + '>' +
                '<div class="media"><img class="mr-3" src="/images/2081487.jpg" width="40" height="40" alt="Generic placeholder image"><div class="media-body align-self-center d-flex  justify-content-between"><div>' +
                item.replies + '/<small>' + item.clicks +
                '</small><span class="badge badge-secondary">' + item.tabValue +
                '</span><a href="/topic/' + item.id + '">' + item.title +
                '</a>' +
                '</div><div class="col-2 d-flex  justify-content-between"><img src="/images/7081645.png" width="30" height="30" alt="Generic placeholder image"><small class="align-self-center">' +
                item.lastreplyfromnow + '</small></div></div></div></div>'
              );
            });
          },
          error: function () {
            alert('异常');
          }
        });
      }


    })
  </script>
  <%- include footer%>