<!-- 未读消息页 -->

<%- include header%>
  <div class="container d-flex justify-content-center mt-3">
    <div class="col-8">
      <div class="card">
        <div class='card-header breadcrumb mb-0'>
          <a href='/home'>主页</a>
          <span class='divider'>/</span>
          <span>新消息</span>
        </div>

        <%if(newcount!=0){%>
          <%newmsgs.forEach(function(res){%>
            <div class="list-group-item list-group-item-action">
              <%if(res['isat']){%>
                <a href="/user/<%=res['replyname']%>">
                  <%=res['replyname']%>
                </a>在话题
                <a href="/topic/<%=res['topicId']%>">
                  <%=res['title']%>
                </a>中@了你
                <%}%>
                  <%if(!res['isat']){%>
                    <a href="/user/<%=res['replyname']%>">
                      <%=res['replyname']%>
                    </a>回复了你的话题
                    <a href="/topic/<%=res['topicId']%>">
                      <%=res['title']%>
                    </a>
                    <%}%>
            </div>
            <%})%>
              <%}%>
                <%if(newcount===0){%>
                  <div class="list-group-item list-group-item-action ">
                    无话题</div>
                  <%}%>

      </div>
      <div class="card my-3">
        <div class="card-header">
          过往信息</div>
        <div>
          <div>
            <%if(oldcount!=0){%>
              <%oldmsgs.forEach(function(res){%>
                <div class="list-group-item list-group-item-action">
                  <%if(res['isat']){%>
                    <a href="/user/<%=res['replyname']%>">
                      <%=res['replyname']%>
                    </a>在话题
                    <a href="/topic/<%=res['topicId']%>">
                      <%=res['title']%>
                    </a>中@了你
                    <%}%>
                      <%if(!res['isat']){%>
                        <a href="/user/<%=res['replyname']%>">
                          <%=res['replyname']%>
                        </a>回复了你的话题
                        <a href="/topic/<%=res['topicId']%>">
                          <%=res['title']%>
                        </a>
                        <%}%>
                </div>
                <%})%>
                  <%}%>
                    <%if(oldcount===0){%>
                      <div class="list-group-item list-group-item-action">
                        无信息</div>
                      <%}%>
          </div>
        </div>
      </div>
    </div>
    <%-include usermsg%>
  </div>
  <%- include footer%>