<%-include header%>
  <div class="container d-flex justify-content-center  mt-3">

    <div class="col-9 pl-2">
      <div class='header'>
        <ol class='breadcrumb'>
          <li>
            <a href='/home'>主页</a>
            <span class='divider'>/</span>
          </li>
          <li class='active'>编辑回复</li>
        </ol>
      </div>
      <div class='inner bg-white my-3'>
        <form id='create_topic_form ' action="/reply/<%=replies.id%>/edit" method="post">
          <fieldset class="pl-3 py-3">

            <textarea class='col-11' id="text" name='t_content' rows='20' placeholder="<%=replies.content%>"></textarea>
            <br>
            <input type="button" class='span-primary submit_btn' data-loading-text="提交中" value="提交">
            <span id="reply_edit"></span>

          </fieldset>
        </form>
      </div>

    </div>
    <%-include edittip%>
  </div>

  <script>
    $(document).ready(function () {
      $(".submit_btn").click(function () {
        var te = $("#text").val();
        if (!text) {
          alert("请输入内容")
        } else {
          $.ajax({
            url: document.url,
            type: 'POST',
            dataType: "json",
            data: {
              text: te
            },
            success: function (data, status) {
              $("#reply_edit").html("提交成功");
              setTimeout(() => {
                window.location.href = "/topic/" + data;
              }, 1000)
            },
            error: function (data, status) {
              if (status == 'error') {
                $("#reply_edit").html("内容不能为空");
              }
            }
          })
        }
      })
    })
  </script>
  <%-include footer%>