<!-- 个人设置页 -->
<%-include header%>
  <div class="container d-flex justify-content-center   mt-3">
    <div class="col-10">
      <div class="bg-white  card">
        <div class="card-header breadcrumb">
          <span>
            <a href="/">主页</a>
            <span class="divider">/</span>
          </span>
          <span class="active">设置</span>
        </div>
        <div class="card-body">
          <div class="alert alert-success set" role="alert" style="display:none">
            保存成功！
          </div>
          <div class="alert alert-danger passerror" role="alert" style="display:none">
            当前密码不正确!
          </div>
          <div class="alert alert-success passright" role="alert" style="display:none">
            更改密码成功！请重新登录！
          </div>
          <div class="alert alert-success success" role="alert" style="display:none">
            您的文件头像成功!
          </div>
          <div class="alert alert-danger error" role="alert" style="display:none">
            您上传的文件没有成功，请重新上传
          </div>
          <div class="d-flex">
            <div class="col-8 pl-4">
              <form>
                <div class="form-group row">
                  <label class="col-3 col-form-label">用户名</label>
                  <div class="col-6">
                    <input type="text" class="form-control" id="Name" placeholder="<%=session.name%>">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-3 col-form-label">电子邮箱</label>
                  <div class="col-6">
                    <input type="text" class="form-control" id="Email" placeholder="<%=session.Email%>">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-3 col-form-label">个人网站</label>
                  <div class="col-6">
                    <input type="text" class="form-control" id="web" placeholder="<%=session.web%>">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-3 col-form-label">所在地点</label>
                  <div class="col-6">
                    <input type="text" class="form-control" id="city" placeholder="<%=session.city%>">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-3 col-form-label">微博</label>
                  <div class="col-6">
                    <input type="text" class="form-control" id="weibo" placeholder="<%=session.weibo%>">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-3 col-form-label">GitHub</label>
                  <div class="col-6">
                    <input type="text" class="form-control" id="GitHub" placeholder="<%=session.GitHub%>">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-3 col-form-label">个性签名</label>
                  <div class="col-6">
                    <input type="text" class="form-control" id="sign" placeholder="<%=session.sign%>">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-3 col-form-label"></label>
                  <div class="col-4">
                    <button type="button" class="btn btn-primary form-control" id="inputset">保存设置</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-3 container" style="width:200px;height:300px">
              <img src="<%=session.headImgURL%>" style="width:150px;height:150px">
              <input type="file" id="inpicture" style="display: none">
              <button type="button" class="file btn btn-primary  mt-3 btn-block" id="inpicture-i" onclick="inpicture.click()">
                选择文件
              </button>
              <div id="dialog" title="裁剪你的头像照片">
                <div class="cut-container p-auto">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card bg-white  my-3">
        <div class="card-header">设置密码</div>
        <div class="card-body pl-5">
          <form>
            <div class="form-group row">
              <label class="col-2 col-form-label">当前密码</label>
              <div class="col-4">
                <input type="password" class="form-control" id="opass">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-2 col-form-label">新密码</label>
              <div class="col-4">
                <input type="password" class="form-control" id="npass">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-2 col-form-label"> </label>
              <div class="col-2">
                <button type="button" class="btn btn-primary form-control" id="inputpass">提交</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%-include usermsg%>
  </div>
  <script>
    $(document).ready(function () {
      // 设置
      $("#inputset").click(function () {
        var name = $("#Name").val() == '' ? $('#Name').attr('placeholder') : $("#Name").val();
        var Email = $("#Email").val() == '' ? $('#Email').attr('placeholder') : $("#Email").val();
        var weibo = $("#weibo").val() == '' ? $('#weibo').attr('placeholder') : $("#weibo").val();
        var web = $("#web").val() == '' ? $('#web').attr('placeholder') : $("#web").val();
        var city = $("#city").val() == '' ? $('#city').attr('placeholder') : $("#city").val();
        var GitHub = $("#GitHub").val() == '' ? $('#GitHub').attr('placeholder') : $("#GitHub").val();
        var sign = $("#sign").val() == '' ? $('#sign').attr('placeholder') : $("#sign").val();
        var dat = {
          name: name,
          Email: Email,
          weibo: weibo,
          web: web,
          city: city,
          GitHub: GitHub,
          sign: sign
        };
        $.ajax({
          url: '/setting',
          type: 'POST',
          contentType: "application/json",
          data: JSON.stringify(dat),
          success: function (data, status) {
            $('.signature').empty();
            $('.signature').text(data.sign);
            $(".set").show();
          },
        });
      });
    });

    //  更改密码
    $("#inputpass").click(function () {
      var opass = $("#opass").val();
      var npass = $("#npass").val();
      var data = {
        oldpass: opass,
        newpass: npass
      };
      $.ajax({
        url: '/setting/pass',
        type: 'POST',
        dataType: "json",
        data: data,
        success: function (data, status) {
          if (data.result == 'right') {
            $(".passerror").hide();
            $(".passright").show();
            setTimeout(() => {
              location.href = "/onload"
            }, 1000);
          } else if (data.result == 'error') {
            $(".passerror").show();
          }

        },
      });
    });

    //将input type=file读取本地文件的按钮值关联到button按钮
    function change() {
      document.getElementById("inpicture-i").value = document.getElementById("inpicture").value;
    };

    //选择图片后打开裁剪对话框
    $("#inpicture").change(function () {
      var file = this.files[0];
      var reader = new FileReader();
      if (/image+/.test(file.type)) {
        reader.onload = function () {
          $("#dialog").dialog("open");
          $(".cut-container").empty();
          $(".cut-container").append('<img src="' + this.result +
            '" style="max-width:500px;max-height:500px"/>');
          $('.cut-container>img').cropper({
            aspectRatio: 1 / 1,
            viewMode: 1,
            background: true
          });

        }
        reader.readAsDataURL(file)
      } else {
        alert("请选择图片！");
      }
    })

    // 读取本地头像并剪裁上传
    $("#dialog").dialog({
      autoOpen: false,
      width: 410,
      height: 510,
      buttons: {
        "确定上传头像": function () {
          var data = $('.cut-container>img').cropper('getCroppedCanvas', {
            width: 150,
            height: 150
          });
          // $('.container>img').empty().replaceWith(data);?为什么再次替换就不能了？
          // $(".container>img").attr("src", data.toDataURL());//将原头像替换成要上传的图片
          upload(data);
          $(this).dialog("close");
        }
      }
    });

    // 上传头像
    function upload(data) {
      data.toBlob(function (blob) {
        console.log(blob.size);
        if ((blob.size / 1024) > 1024) {
          alert('图片文件过大!请选择小于1M的头像');
          return;
        } else {
          var formData = new FormData();
          formData.append('files', blob);
          console.log(formData.get('files'));
          $.ajax({
            type: "post",
            url: '/upload', //用于文件上传的服务器端请求地址
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
              if (result.result = false) {
                $('.error').show();
                setTimeout(() => {
                  $('.error').hide()
                }, 5000);
              } else {
                $('.success').show();
                $(".container>img").attr("src", result.imageUrl);
                $('.user_avatar>img').attr('src', result.imageUrl);
                setTimeout(() => {
                  $('.success').hide()
                }, 5000);
              }
            }
          });
        }
      });
    }
  </script>

  <%-include footer%>