<!-- 个人创建话题页 -->
<%- include header%>
  <div class="container d-flex justify-content-center mt-3">
    <div class="col-8">
      <div class="breadcrumb">
        <a href="/">主页</a>
        <span class="divider">/</span>
        <a href='/user/<%=user.name%>'>
          <%=user.name%>的主页</a>
      </div>
      <div class="card my-3">
        <div class="card-header">
          <%=user.name%>创建的话题</div>
        <div>
          <%topics.forEach(function(res){%>
            <div class="list-group-item list-group-item-action ">
              <div class="media">
                <img class="mr-3 " src="/images/2081487.jpg" width="40" height="40" alt="Generic placeholder image">
                <div class="media-body align-self-center d-flex  justify-content-between">
                  <div>
                    <%=res['replies']%>/
                      <small>
                        <%=res['clicks']%>
                      </small>
                      <a href="/topic/<%=res['id']%>">
                        <%=res['title']%>
                      </a>
                  </div>
                  <div class="col-2 d-flex  justify-content-between">
                    <img src="/images/7081645.png" width="30" height="30" alt="Generic placeholder image">
                    <small class="align-self-center">
                      <%=res['lastreplyfromnow']%>
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <%})%>
        </div>
      </div>
    </div>
    <%-include usermsg%>
  </div>
  <%- include footer%>