<%- include header%>
  <div class="container d-flex justify-content-center mt-3">
    <div class="col-8">
      <div class="card mb-3">
        <div class='card-header breadcrumb mb-0'>
          <li>
            <a href='/'>主页</a>
            <span class='divider'>/</span>
          </li>
        </div>
        <div class='card-body py-3'>
          <div class='user_card'>
            <div>
              <a class='user_avatar' href="/user/<%=user.name%>">
                <img src="/<%=user.headImgURL%>" width="30" height="30" alt="Generic placeholder image" />
              </a>
              <span class='user_name'>
                <%=user.name %>
              </span>
              <div class='board clearfix'>
                <div class='floor'>
                  <span class='big'>
                    <%=user.integral%>积分</span>
                </div>
              </div>
              <div class="space clearfix">
                <%if(user.TopicCloNum!=0){%>
                  <span class='coll'>
                    <%=user.TopicCloNum%>个话题收藏</span>
                  <%}%>
                    <%if(user.web!=null){%>
                      <span class='coll'>
                        <a href="<%=user.web%>">
                          <%=user.web%>
                        </a>
                      </span>
                      <%}%>
                        <%if(user.city!=null){%>
                          <span class='coll'>
                            <%=user.city%>
                          </span>
                          <%}%>
                            <%if(user.GitHub!=null){%>
                              <span class='coll'>
                                <a href="<%=user.GitHub%>">
                                  <%=user.GitHub%>
                                </a>
                              </span>
                              <%}%>
                                <%if(user.weibo!=null){%>
                                  <span class='coll'>
                                    <a href="<%=user.weibo%>">
                                      <%=user.weibo%>
                                    </a>
                                  </span>
                                  <%}%>
              </div>
              <p class="mb-0">注册时间
                <%=user.signfromnow%>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">最近新建的话题</div>
        <div>
          <%if(count!=0){%>
            <%pretopics.forEach(function(res){%>
              <div class="list-group-item list-group-item-action ">
                <div class="media">
                  <img class="mr-3 " src="/images/2081487.jpg" width="40" height="40" alt="Generic placeholder image">
                  <div class="media-body align-self-center d-flex  justify-content-between">
                    <div>
                      <%=res['replies']%>/
                        <small>
                          <%=res['clicks']%>
                        </small>
                        <a href="/topic/<%=res['id']%>">
                          <%=res['title']%>
                        </a>
                    </div>
                    <div class="col-2 d-flex  justify-content-between">
                      <img src="/images/7081645.png" width="30" height="30" alt="Generic placeholder image">
                      <small class="align-self-center">
                        <%=res['lastreplyfromnow']%>
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <%})%>

                <div class="list-group-item list-group-item-action">
                  <a href="/user/<%=user.name%>/topics">查看更多>></a>
                </div>
                <%}%>
                  <%if(count===0){%>
                    <div class="list-group-item list-group-item-action ">
                      无话题</div>
                    <%}%>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">最近参与的话题</div>
        <div>
          <%if(partcount!=0){%>
            <%preparttopics.forEach(function(res){%>
              <div class="list-group-item list-group-item-action ">
                <div class="media">
                  <img class="mr-3 " src="/images/2081487.jpg" width="40" height="40" alt="Generic placeholder image">
                  <div class="media-body align-self-center d-flex  justify-content-between">
                    <div>
                      <%=res['replies']%>/
                        <small>
                          <%=res['clicks']%>
                        </small>
                        <a href="/topic/<%=res['id']%>">
                          <%=res['title']%>
                        </a>
                    </div>
                    <div class="col-2 d-flex  justify-content-between">
                      <img src="/images/7081645.png" width="30" height="30" alt="Generic placeholder image">
                      <small class="align-self-center">
                        <%=res['lastreplyfromnow']%>
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <%})%>
                <div class="list-group-item list-group-item-action ">
                  <a href="/user/<%=user.name%>/replies">查看更多>></a>
                </div>
                <%}%>
                  <%if(partcount===0){%>
                    <div class="list-group-item list-group-item-action ">
                      无话题</div>
                    <%}%>
        </div>
      </div>

    </div>
    <%-include usermsg%>
  </div>
  <%- include footer%>