<!-- 单篇文章页 -->

<%-include header%>
  <link rel="stylesheet" href="/css/mditor.min.css" />
  <script src="/js/mditor.min.js"></script>
  <div class="container d-flex justify-content-center mt-3">
    <div class="col-10 my-2">
      <div class="bg-white card">
        <div class="p-3 pb-0 card-body ">
          <h3 class="title">
            <%= topics.title%>
          </h3>
          <div>
            <div>
              <small>
                <sapn class="mx-1">
                  发布于
                  <%=ttime[0]%>&nbsp|
                    </span>
                    <span>作者
                      <%= topics.username%>&nbsp|
                    </span>
                    <span>
                      <%=topics.clicks%>次浏览&nbsp|</span>
                    <span>最后一次编辑是
                      <%=ttime[1]%>&nbsp|
                    </span>
                    <span>来自
                      <%= topics.tabValue%>
                    </span>
              </small>

            </div>
            <%if(session&&topics.username==session.name){%>
              <div class="mt-2">
                <button type="button" class="btn btn-link topicedit pr-0 pb-0">
                  <a href="/topic/<%=topics.id%>/edit">
                    <%-octicons.pencil.toSVG()%>
                  </a>
                </button>
                <button type="button" class="btn btn-link delete pb-0">
                  <%-octicons.trashcan.toSVG()%>
                </button>
              </div>
              <%}%>
          </div>
        </div>
        <hr class="m-0">
        <div class="markdown-body p-3" id="text">
          <%-text%>
        </div>
        <span class="success"></span>
      </div>
      <% if(replys!=0){%>
        <div class="bg-white mt-2 card">
          <p class="card-header">回复</p>
          <div class="list-group card-body p-0">
            <% replys.forEach(function(res,index){ %>
              <div class="list-group-item py-0 father">
                <form class="rep_name m-2" action="/topic/<%=topics.id%>/like" method="post">
                  <div class="media">
                    <img class="mr-3" src="<%=res['headImgURL']%>" width="30" height="30" alt="Generic placeholder image">
                    <div class="media-body">
                      <%= res['name'] %>
                        <small class="text-primary">
                          <%=index+1%>楼</small>
                        <small class="text-primary">
                          <%=res['replyfromnow']%>
                        </small>
                        <%-include buttons%>
                          <div class="mt-2">
                            <%= res['content'] %>
                          </div>
                          <div class="bg-white collapse" id="srep<%=res['id']%>" value="<%=res['id']%>">
                            <textarea name="editor" id="editor1" class='w-100'> @<%=res['name']%> </textarea>
                            <button id='sre' type="button" class="btn btn-info  btn-sm">回复</button>
                            <span class="suc"></span>
                          </div>
                    </div>
                  </div>
                </form>
              </div>
              <%})%>
          </div>
        </div>
        <%}%>
          <%if(session&&session.id){%>
            <div class="bg-white mt-2 card">
              <p class="card-header">添加回复</p>
              <div class="card-body p-0">
                <textarea name="editor" id="editor2" class="w-100 reply border-0 p-0" ></textarea>
                <button class="btn btn-primary ml-3 mb-3" id="reply">回复</button>
                <span class="succ"></span>
              </div>
            </div>
            <%}%>
    </div>
    <div class="col-3 my-2">
      <div class='card bg-white  mb-3'>
        <div class='card-header'>
          作者
        </div>
        <div class='card-body'>
          <div class='user_card'>
            <div>
              <a class='user_avatar' href="/user/<%=user.name%>">
                <img src="<%=user.headImgURL%>" width="30" height="30" alt="Generic placeholder image" />
              </a>
              <span class='user_name'>
                <a class='dark' href="/user/<%= user.name%>">
                  <%= user.name %>
                </a>
              </span>

              <div class='board clearfix'>
                <div class='floor'>
                  <span class='big'>积分:
                    <%=user.integral%>
                  </span>
                </div>
              </div>
              <div class="space clearfix"></div>
              <%if(user.sign==null){%>
                <span class="signature font-italic">
                  “这家伙很懒，什么个性签名都没有留下。”
                </span>
                <%}%>
                  <%if(user.sign!=null){%>
                    <span class="signature font-italic">
                      <%=user.sign%>
                    </span>
                    <%}%>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <ul class="list-group">
          <li class="list-group-item">作者其他话题</li>
          <%if(othercount>0){%>
            <%someothers.forEach(function(res){%>
              <li class="list-group-item">
                <a href="/topic/<%=res['id']%>" class="text-muted">
                  <%=res['title']%>
                </a>
              </li>
              <%})}else{%>
                <li class="list-group-item">
                  无其他话题
                </li>
                <%}%>
        </ul>
      </div>

    </div>
  </div>
  <%-include footer%>
    <script>
      // 删除文章
      $('.delete').click(() => {
        var r = confirm("确定要删除此回复吗？");
        if (r == true) {
          $.ajax({
            url: '/topic/<%=topics.id%>/delete',
            type: "GET",
            cache: false,
            dataType: 'json',
            success: function (msg) {
              if (msg) {
                $('.success').text('删除成功');
                setTimeout(() => {
                  window.location.href = "/"
                }, 1000)
              }
            },
            error: function () {
              alert('异常');
            }
          })
        }
      });

      // 添加评论/回复        
      var mditor2 = Mditor.fromTextarea(document.getElementById('editor2'));
      mditor2.split = false;
      $('#reply').click(function () {
        var cont = mditor2.value;
        if (cont) {
          $.ajax({
            url: document.url,
            data: {
              content: $('.reply').val()
            },
            type: "POST",
            cache: false,
            dataType: 'json',
            success: function (msg) {
              if (msg) {
                $('.succ').text('回复成功');
                setTimeout(() => {
                  window.location.reload();
                }, 1000)
              }
            },
            error: function () {
              alert('异常');
            }
          });
        } else {
          $('.succ').text('填写回复内容后  才能提交哦！');
        }
      });

      //点赞+取消赞
      $(document).ready(function () {
        $("button[id='like']").each(function () {
          $(this).on('click', function () {
            var at = $(this).attr("value");
            var likes = parseInt($(this).next().text());
            if ($(this).hasClass('like-1')) {
              $.ajax({
                url: document.URL + '/unlike',
                type: "POST",
                cache: false,
                data: {
                  att: at
                },
                dataType: 'json',
                error: function () {
                  alert('异常');
                }
              });
              $(this).next().text(likes - 1);
              $(this).removeClass('like-1');
              $(this).addClass("like-0");
            } else {
              $.ajax({
                url: document.URL + '/like',
                type: "POST",
                cache: false,
                data: {
                  att: at
                },
                dataType: 'json',
                error: function () {
                  alert('异常');
                }
              });
              $(this).next().text(likes + 1);
              $(this).removeClass('like-0');
              $(this).addClass("like-1");
            }
          })
        });

        $("button[id='slike-0']").each(function () {
          $(this).click(() => {
            alert("不可以为自己点赞哦")
          })
        });
        $("button[id='slike-1']").each(function () {
          $(this).click(() => {
            alert("不可以为自己点赞哦")
          })
        });
      });

      // 删除评论
      $(document).ready(function () {
        $("button[id='sdelete']").each(function () {
          $(this).on('click', function () {
            var r = confirm("确定要删除此回复吗？");
            if (r == true) {
              var at = $(this).attr("value");
              $.ajax({
                url: '/reply/' + at + '/delete',
                type: "GET",
                cache: false,
                dataType: 'json',
                success: function (msg) {
                  location.reload();
                },
                error: function () {
                  alert('异常');
                }
              });
            }
          })
        });
      });

      //回复评论
      var mditor1 = Mditor.fromTextarea(document.getElementById('editor1'));
      mditor1.split = false;
      $(document).ready(function () {
        $("button[id='sre']").each(function () {
          $(this).on('click', function () {
            var id = $(this).parent().attr('value');
            var text = mditor1.value;
            $.ajax({
              url: document.URL + '/reply',
              type: "POST",
              cache: false,
              data: {
                replyId: id,
                content: text
              },
              dataType: 'json',
              success: function (msg) {
                if (msg) {
                  $('.suc').text('回复成功');
                  setTimeout(() => {
                    window.location.reload();
                  }, 1000)
                }
              },
              error: function () {
                alert('异常');
              }
            });
          })
        });
      });
      // 未登录点赞
      $(document).ready(function () {
        $("button[id='nlike']").each(function () {
          $(this).on('click', function () {
            alert('请先登录，登录后即可点赞！');
            setTimeout(() => {
              window.location.href = '/onload';
            }, 1000)
          })
        });
      });
    </script>