<div class="col-2.5">
  <div class='card bg-white'>
    <div class='card-header'>
      个人信息
    </div>
    <div class='card-body'>
      <div class='user_card'>
        <div>
          <a class='user_avatar' href="/user/<%=user.name%>">
            <img src="<%=user.headImgURL%>" width="40" height="40" alt="Generic placeholder image" />
          </a>
          <span class='user_name'>
            <a class='dark' href="/user/<%=user.name%>">
              <%=user.name%>
            </a>
          </span>

          <div class='board clearfix'>
            <div class='floor'>
              <span class='big'>积分:
                <%=user.integral%>
              </span>
            </div>
          </div>
          <div class="space clearfix"></div>
          <%if(user.sign==null){%>
            <span class="signature">
              “这家伙很懒，什么个性签名都没有留下。”
            </span>
            <%}%>
              <%if(user.sign!=null){%>
                <span class="signature">
                  <%=user.sign%>
                </span>
                <%}%>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class='inner bg-white p-3 mt-3'>
      <a href='/topic/create' id='create_topic_btn'>
        <button type="button" class="btn btn-success">
          发布话题
        </button>
      </a>
    </div>
  </div>
</div>